__pycache__
clifford-group-equivariant-neural-networks
datasets/top_tagging
datasets/hulls_o5
develop.ipynb
glgenn_original
logs
reset_cuda.py
*_reserv/
*_reserv
*.ipynb
*.sif
*debug*
*.ckpt
egnn
*reserv*
*tmp*
tmp/
trash/
figures/
*.zip
tmp*
tmp/